.navbar_container {
    display: grid;
    grid-template-columns: auto auto auto;
}
.navbar_item {
    height: 8rem;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    text-decoration: none;
    color:white;
}
.navbar_item_link{
    text-decoration: none;
}

